---
layout: default
---

<main class="container">
    <div class="row">

        <div class="col-xs-12 main-content">

          <h1>Categories</h1>

          <hr />

            <div class="home-page-categories">
                <div class="category row">
                    <section>
                        <ul>
                        {% for category in site.categories %}
                            <li><a href='{{ "category/" | append: category.first | prepend: site.baseurl }}'>{{ category | first | capitalize }}</a></li>
                        {% endfor %}
                        </ul>
                    </section>
                </div>
            </div>

            {% include mini-footer.html %}
        </div><!-- main content -->
    </div> <!--/row -->

</main> <!-- /container -->
